@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Orbitron:900&text=LAZERBEAK);
@import url(http://fonts.googleapis.com/css?family=Meddon);

$background: black;
$text: white;
$inactive_opacity: 0.18;
$transition_props: opacity 0.6s ease;

body {
  background-color: $background;
}

#button {
  span {
    display: block;
    font-family: 'Orbitron', arial, sans-serif;
    font-size: 2.6em;
    font-weight: 900;
  }

  z-index: 15;
  $color: red;
  $inner_glow: #f22;
  $shadow: #900;
  $depressed: $color - #222;
  $depressed_shadow: #900 - #222;

  $edge_length: 300px;
  height: $edge_length;
  width: $edge_length;
  @include border-radius( $edge_length );

  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  $offset: - $edge_length / 2;
  margin: $offset $offset 0 0;

  background-color: $color;
  cursor: pointer;
  border: none;

  $shadow_offset: 7px;
  $shadow_bevel_dec: -4px -4px rgba(0,0,0,.15) inset;
  $shadow_dec: $shadow_offset $shadow_offset $shadow, $shadow_bevel_dec;
  $highlight_dec: 4px 4px rgba(255,255,255,.2) inset;
  $outer_glow_dec: 4px 4px 12px rgba(255,255,255,.5);
  $button_dec: $shadow_dec, $highlight_dec, $outer_glow_dec;
  @include box-shadow( $button_dec );

  &:hover {
    background-color: $inner_glow;
    $glow_limit: 50px;
    $limit_inner_glow_dec: 0px 0px $glow_limit $glow_limit $color inset;
    $limit_inner_glow_dec_webkit: 0px 0px $glow_limit $color inset;
    @include box-shadow( $button_dec, $limit_inner_glow_dec );
    -webkit-box-shadow: $button_dec, $limit_inner_glow_dec_webkit;
    span {
      text-shadow: 0px 0px 10px rgba(255,255,255,.6);
    }
  }

  &:active {
    background-color: $depressed;

    $pressed_offset: 2px;
    $bottom_edge_extension_dec: $shadow_offset - $pressed_offset $shadow_offset - $pressed_offset $depressed;
    $bottom_highlight_dec: $bottom_edge_extension_dec, $shadow_offset $shadow_offset rgba(255,255,255,.2), $shadow_offset $shadow_offset $depressed;

    $top_edge_offset: 2px;
    $shadow_dec: $top_edge_offset $top_edge_offset $background inset, $top_edge_offset + $shadow_offset $top_edge_offset + $shadow_offset $depressed_shadow inset;
    @include box-shadow( $shadow_dec, $bottom_highlight_dec );

    span {
      position: relative;
      top: $pressed_offset;
      left: $pressed_offset;
    }
  }

  // Prevent dotted border when button is focused in FF
  &::-moz-focus-inner {
    border: none;
  }
}

#doomtree, #credits {
  color: $text;
  font-family: 'Meddon', serif;
}

#doomtree {
  z-index: 10;
  $img_width: 180px;
  $img_height: 49px;
  position: absolute;
  bottom: 0;
  left: 0;
  #logo {
    opacity: $inactive_opacity;
    display: block;
    width: $img_width;
    height: $img_height;
    padding-bottom: 5px;
  }
  #crew {
    $this_width: 140px;
    width: $this_width;
    margin-left: ( $img_width - $this_width ) / 2;
    margin-bottom: -30px;
    opacity: 0;
  }
  .disclaimer {
    position: absolute;
    left: $img_width;
    bottom: 0;
    width: 12em;
    opacity: 0;
    &:before {
      content: "⇜";
      margin-right: 0.4em;
    }
  }
  #logo, #crew, .disclaimer {
    @include transition( $transition_props );
  }
  &:hover {
    .disclaimer {
      opacity: 1;
    }
    #logo, #crew {
      opacity: 1;
    }
  }
}

#credits {
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  a {
    color: $text;
    text-decoration: none;
  }
  .question, .answer {
    display: inline;
    padding-right: 0.6em;
    position: absolute;
    width: 10em;
    right: 0;
    bottom: 0;
    @include transition( $transition_props );
  }
  .answer {
    //display: none;
    opacity: 0;
  }
  .question {
    opacity: $inactive_opacity;
  }
  &:hover {
    .question {
      opacity: 0;
    }
    .answer {
      opacity: 1;
    }
  }
}
