@import "compass/css3";

body {
  background-color: #000;
}

#button {
  height: 300px;
  width: 300px;
  @include border-radius( 300px );

  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -150px -150px 0 0;

  background-color: red;
  cursor: pointer;
  border: none;
  @include box-shadow( 7px 7px #900, -4px -4px rgba(0,0,0,.15) inset, 4px 4px rgba(255,255,255,.2) inset, 4px 4px 12px rgba(255,255,255,.5) );
}

#button:hover {
  background-color: #f33;
  @include box-shadow( 7px 7px #900, -4px -4px rgba(0,0,0,.15) inset, 4px 4px rgba(255,255,255,.2) inset, 4px 4px 12px rgba(255,255,255,.5), 0px 0px 50px 50px red inset );
  -webkit-box-shadow: 7px 7px #900, -4px -4px rgba(0,0,0,.15) inset, 4px 4px rgba(255,255,255,.2) inset, 4px 4px 12px rgba(255,255,255,.5), 0px 0px 50px red inset;
}

#button:active {
  background-color: red - #222;
  @include box-shadow( 2px 2px #000 inset, 9px 9px #600 inset, 5px 5px red - #222, 7px 7px rgba(255,255,255,.2), 7px 7px red - #222 );
}

#button::-moz-focus-inner {
  border: none;
}
